// VARIABLES
$background: #E0E0E0;
$text: #233040;
$link: #099cc9;
$link-hover: #83898F;
$hero-subtext: #596569;
$page-text: #6C787C;

// MIXINS
@mixin flex-col-center {
  display: flex;
  flex-flow: column;
  align-items: center;
}

@mixin flex-row-center {
  display: flex;
  flex-flow: row;
  align-items: center;
}

// BEGIN Global Styles

body {
  background-color: $background;
  font-family: 'Noto Sans', sans-serif;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: $text;
}

p {
  font-size: 14px;
  line-height: 26px;
  color: $page-text;
}

// Positioning helper classes for flex
.float-right {
  margin-left: auto;
}

.link {
  color: $link;
  cursor: pointer;
}

// Set up main container

.page{
  display: flex;
  flex-flow: column;
  background-color: #ffffff;
  margin: 0 auto;
  color: $page-text;
}

// Components

.feature-blurb {
  h1 {
    font-size: 28px;
    font-weight: lighter;
    line-height: 38px;
    text-align: left;
  }
}
@media screen and (max-width: 767px){
  .feature-blurb {
    h1 {
      text-align: center;
    }
  }
}

// END Global Styles

// SECTIONS

// BEGIN Header and Navbar

.page-header {
    display: flex;
    flex-flow: row;
    padding: 22px 40px 18px 40px;
    border-bottom: 1px solid $background;
    box-sizing: border-box;
  }

.page-header-nav {
  margin-left: auto;
  ul {
    list-style-type: none;
    margin: 0px;
    padding-top: 12px;

    li {
      float: left;
      margin-right: 100px;

      a {
        text-decoration: none;
        color: $text;

        &:hover {
          color: $link-hover;
        }

        &.link {
          color: $link;
        }
      }
      &:last-child {
        margin-right: 0px;
      }
    }
  }
}

// END Header and Navbar

// BEGIN Hero

.hero {
  display: flex;
  flex-flow: row;
  padding: 5.8% 5.8% 2% 5.8%;
  border-bottom: 1px solid $background;
}

.hero-figure {
  width: 372px;
  img {
    width: 372px;
  }
}

.hero-text {
  padding-left: 50px;
  text-align: center;
  h1 {
    font-size: 46px;
    font-weight: lighter;
    margin-bottom: 22px;
  }
}

.hero-byline {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 352px;
  line-height: 30px;
  color: $hero-subtext;
}

.btn {
  border-radius: 3px;
  background-color: $link;
  width: 243px;
  height: 48px;
  color: white;
  outline: none;
  border: none;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
}

.hero-subtext {
  cursor: pointer;
  font-size: 14px;
  color: $link;
  margin-top: 28px;
  img {
    padding-left: 10px;
  }
}

// END Hero

// BEGIN Clients

.clients {
  @include flex-col-center;
  border-bottom: 1px solid $background;
  padding: 3% 2%;
  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
  }
  p {
    max-width: 755px;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
  }
}

// END Clients

// BEGIN Property Streams

.streams {
  @include flex-row-center;
  padding: 5%;
  div {
    flex: 1 1 auto;
    padding-left: 40px;
    padding-right: 40px;
  }
  figure {
    flex: 1 1 auto;
    margin: 0px;
    width: 100%;
    img {
      width: 100%;
      max-width: 380px;
    }
  }
}

// END Property Streams

// BEGIN MLS Listing Alerts

.mls {
  padding: 5%;
  @include flex-row-center;
  justify-content: space-around;
  figure {
    flex: 2 1 auto;
    margin: 0px;
    padding-left: 14%;
    width: 100%;
    img {
      width: 100%;
      max-width: 164px;
    }
  }
  div {
    flex: 1 1 auto;
    padding-right: 40px;
  }
}

// END MLS Listing Alerts

// BEGIN Social-Style Collaboration

.collaboration {
  @include flex-row-center;
  padding: 0% 5% 5% 5%;
  figure {
    flex: 1 1 auto;
    width: 100%;
    margin: 0px;
    padding-left: 130px;
    img {
      width: 100%;
      max-width: 285px;
    }
  }
  div {
    flex: 1 1 auto;
    padding-left: 5%;
  }
}

// END Social-Style Collaboration

// BEGIN Analytics Dashboard

.analytics {
  @include flex-row-center;
  border-bottom: 1px solid $background;
  padding: 0 5%;
  figure {
    align-self: flex-end;
    flex: 1 1 auto;
    margin: 0px;
    img {
      width: 100%;
      max-width: 500px;
      margin-bottom: -5px;
    }
  }
  div {
    align-self: flex-start;
    flex: 1 1 auto;
    max-width: 364px;
    padding-top: 80px;
    padding-right: 40px;
  }
}

// END Analytics Dashboard

// BEGIN Devices

.devices {
  @include flex-col-center;
  padding: 4%;
  background: no-repeat center/100% url(../images/floating_devices@2x.png);
  h1 {
    text-align: center;
    font-size: 28px;
    font-weight: lighter;
  }
  p {
    text-align: center;
    max-width: 570px;
  }
}

.download-apps {
  margin-top: 20px;
  @include flex-row-center;
  align-self: center;
  a:first-of-type {
    padding-right: 12px;
  }
  a:last-of-type {
    padding-left: 12px;
  }
}

// END Devices

// BEGIN Footer

footer {
  @include flex-row-center;
  flex-wrap: wrap;
  background-color: $text;
  color: #ffffff;
  padding: 2% 4%;
  a,
  p,
  li {
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    margin: 0px
  }
}

.footer-nav {
  @include flex-col-center;
  align-items: flex-start;
  margin-top: 10px;
  ul {
    @include flex-row-center;
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    li {
      margin-right: 40px;
      &:last-of-type {
        margin: 0px;
      }
    }
    &:last-child {
      margin-right: 0px;
    }
  }
  p {
    margin: 10px 0px;
  }
}

.copyright-wide {
  color: #9B9B9B;
  order: 1;
}

.footer-social {
  @include flex-col-center;
  justify-content: center;
  text-align: right;
  margin-top: 10px;
}

.social-icons {
  ul {
    margin: 8px 0px;
    @include flex-row-center;
    list-style: none;
    padding-left: 0px;
    li {
      margin-right: 16px;
    }
  }
}

.copyright-narrow {
  width: 0px;
  height: 0px;
  visibility: hidden;
  color: #9B9B9B;
}

// END Footer


// MEDIA QUERIES & BREAKPOINTS
@media screen and (min-width: 1150px){
  .page {
    max-width: 1140px;
    width: 100%;
  }
}

@media screen and (min-width: 993px)
  and (max-width: 1149px){
  .page {
    width: 960px;
  }
  .hero-figure {
    width: 280px;
    img {
      width: 280px;
    }
  }

  .hero-text {
    h1 {
      font-size: 38px;
    }
  }

  .mls {
    figure {
      padding-left: 8%;
    }
  }

  .analytics {
    div {
      padding-right: 0px;
    }
    figure {
      img {
        width: 80%;
      }
    }
  }
}

@media screen and (min-width: 768px)
  and (max-width: 992px){
  .page {
    width: 740px;
  }
  .hero {
    padding: 3%
  }
  .hero-figure {
    width: 280px;
    img {
      width: 280px;
    }
  }
  .hero-text{
    padding-right: 40px;
    padding-left: 0px;
    h1 {
      font-size: 32px;
    }
  }

  .mls {
    figure {
      padding-left: 4%;
    }
  }

  .collaboration {
    figure {
      padding-left: 2%;
    }
  }

  .analytics {
    div {
      padding-right: 20px;
    }
    figure {
      img {
        width: 80%;
      }
    }
  }
}

/* Tablet and Smaller */
@media screen and (max-width: 767px){
  .page {
    width: 100%;
  }

  .page-header {
    padding: 14px 14px 14px 14px;
  }

  .page-header-logo {
    img {
      width: 120px;
    }

  }

  .page-header-nav {
    ul {
      li {
        font-size: 13px;
        margin-right: 20px;
      }
    }
  }

  section {
    flex-flow: column;
    align-items: center;
  }

  .hero,
  .clients,
  .streams,
  .mls,
  .collaboration,
  .analytics {
    @include flex-col-center;
    text-align: center;
    padding: 40px 2%;
  }

  .hero-figure {
    padding-top: 52px;
    order: 2;
    img {
      width: 310px;
    }
  }

  .hero-text {
    @include flex-col-center;
    padding-left: 0px;
    h1 {
      margin-top: 0px;
      font-size: 32px;
    }
  }

  .streams {
    border-bottom: 1px solid $background;
    figure {
      margin-top: 40px;
    }
  }

  .mls {
    border-bottom: 1px solid $background;
    figure {
      order: 2;
      padding: 0px;
      margin-top: 40px;
    }
    div {
      padding: 0px;
    }
  }

  .collaboration {
    border-bottom: 1px solid $background;
    figure {
      padding: 0px;
      margin-top: 40px;
    }
    div {
      padding: 0px;
    }
  }

  .analytics {
    border-bottom: 1px solid $background;
    padding-bottom: 0px;
    figure {
      align-self: auto;
      order: 2;
      width: 60%;
      padding: 0px;
      margin-top: 40px;
    }
    div {
      align-self: auto;
      padding: 0px;
    }
  }

  .download-apps {
    @include flex-col-center;
    a {
      padding: 6px;
    }
    a:first-of-type {
      padding: 6px;
    }
    a:last-of-type {
      padding: 6px;
    }
  }

  footer {
    @include flex-col-center;
  }

  .footer-nav {
    @include flex-col-center;
    margin: 0px;
    margin-bottom: 10px;
    padding-top: 40px;
  }

  .footer-social {
    @include flex-col-center;
    margin: 20px 0px;
    padding: 0px;
  }

  .copyright-wide {
    order: 3;
    margin-bottom: 40px;
    display: none;
  }

  .copyright-narrow {
    width: auto;
    height: auto;
    order: 3;
    margin-bottom: 40px;
    visibility: visible;
  }
}
